<div class="centered-block">
  <br>
  <img src="/assets/RailsYT_Logo.png" alt="Description of the image">
  <%= render "devise/shared/links" %>
</div>

<style>
  .centered-block {
    width: 50%; /* Adjust the width as needed */
    margin: 0 auto; /* This centers the element horizontally */
    text-align: center; /* Centers the text inside the block */
  }
</style>